*{
    
  font-family:Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body{
  
  background: linear-gradient(
    90deg,
    #c6e5f3 0%,
    #529dda 35%,
    #084a83 100%
  );
}

.form{
  left: 500px;
  margin: 0;
  padding: 0;
  flex-direction: column;
  text-align: center;
  position: relative;
  width: 400px;
  height: 500px;
  border: 3px solid white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input{
  display: block;
  width: 300px;
  height: 50px;
  margin: 20px;
  font-size: 18px;
  font-weight: 5px;
  border:none;
  background: transparent;
  border-bottom: 1px solid black;
}

.btn1{
  width: 300px;
  height: 35px;
  margin: 15px; 
  text-decoration: none;
  border-radius: 20px;
}
.btn1 a{
  font-size: 20px;
  color: #084A83;
  font-weight: bold;
}
::placeholder{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 5px;
}

p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
p a{
  text-decoration: none;
}
nav {
  background: none;
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 5px;
  padding-left: 5px;
  overflow: hidden;
  
}
.navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo a {
  backface-visibility: hidden;
  height: 200px;
  width: 250px;
}

li {
  list-style: none;
  display: inline-block;
}
li a {
  width: 100px;
  display: block;
  padding: 15px 5px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  margin-right: 25px;
}

button {
  background-color: white;
  margin-left: 10px;
  padding: 10px;
  width: 90px;
  cursor: pointer;
  border-radius: 20px;
}
button a {
  color: #084A83;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
}
button:hover{
  background-color: #C6E5F3;
  border-color: gold;
}

.logo:hover{
  transform:scale(1.1);
}

li a:hover{
  background: #c6e5f3;
  text-transform: uppercase;
  color: #084a83;
  font-weight: bold;
  border-radius: 25px;
}

footer{
  margin-top: 100px;
} 

.container{
  max-width: 1200px;
  margin:auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer{
  background-color: #084A83;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 20px;
}
.footer-col h4{
  font-size: 20px;
  color: white;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #529DDA;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 15px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: white;
  text-decoration: none;
  font-weight: 300;
  color: #C6E5F3;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: white;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: #C6E5F3;
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #084A83;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #C6E5F3;
  background-color: #529DDA;
}

@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
.up{
  position: absolute;
  margin-bottom: 50px;
  right: 100px;
  height: 50px;
  width: 50px;
  font-size: 40px;
  font-weight: bold;
  color: #084A83;
  background-color: #C6E5F3;
  text-align: center;
  line-height: 40px;
}  